@using TenancyContract.Areas.Houseowner.Views.Shared

    <ul class="nav nav-pills flex-column" id="tenant">
        <li class="nav-item">
            <a class="nav-link @ManageNavPages.IndexNavClass(ViewContext)" id="profile" asp-action="Index">
                <i class="fas fa-user"></i>
                Profile
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link @ManageNavPages.AddHouseNavClass(ViewContext)" id="add-house" asp-action="AddHouse">
                <i class="fas fa-plus"></i>
                Add House
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link @ManageNavPages.HouseDescriptionNavClass(ViewContext)" id="house-description" asp-action="HouseDescription">
                <i class="fas fa-home"></i>
                House Description
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link @ManageNavPages.MessageNavClass(ViewContext)" id="message" asp-action="Message">
                <i class="far fa-envelope-open"></i>
                Message
            </a>
        </li>


        <li class="nav-item">
            <a class="nav-link @ManageNavPages.ContractPaperNavClass(ViewContext)" id="contract-paper" asp-action="Search">
                <i class="fas fa-file-signature"></i>
                Contract Paper
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link @ManageNavPages.TenantsNavClass(ViewContext)" id="contract-paper" asp-action="Tenants">
                <i class="fas fa-users"></i>
                Manage Tenant
            </a>
        </li>        

        <li class="nav-item">
            <a class="nav-link @ManageNavPages.NumbersNavClass(ViewContext)" id="contract-paper" asp-action="Numbers">
                <i class="fas fa-address-book"></i>
                
                 Important Numbers
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link @ManageNavPages.HousesNavClass(ViewContext)" id="contract-paper" asp-action="Houses">
                <i class="fas fa-file-signature"></i>
                Multiple Houses
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link @ManageNavPages.AccountSettingsNavClass(ViewContext)" id="contract-paper" asp-action="AccountSettings">
                <i class="fas fa-user-cog"></i>
                Account Settings
            </a>
        </li>

    </ul>